* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: Raleway;
    font-size: 16px;
}

.container {
    max-width: 1530px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* -------- header start ------- */
.header {
    position: absolute;
    margin-top: 10px;
    width: 100%;
    top: 0;
    left: 0;
}

.header__wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item {
    padding-right: 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28.18px;
    color: #561010;
    transition: .3s;
}

.nav__item:last-child {
    padding-right: 0;
}
.nav__item:hover, .nav__item:focus {
    color: red;
}

.nav__item:active {
    color: rgb(255, 0, 212);
}
/* -------header end-------- */

/* ----- section intro start ----
 */
.intro {
    background-color: rgb(239, 235, 235);
    height: 1080px;
}

.intro__wrapper {
    position: relative;
    display: flex;
}
.intro__text-block {
    margin-right: 100px;
    padding-left: 165px;
    width: 700px;
}
.intro__title {
    width: 550px;
    padding-top: 440px;
    padding-bottom: 16px;
    width: 100%;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color:#561010;
}
.intro__text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #a12727;
}

.intro__btn {
    padding: 16px 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    background-color: #561010;
    color: white;
    transition: .3s;
}

.intro__btn:hover {
    background-color:red;
}
.intro__image {
    margin-top: 140px;
}

.intro__arrow {
    position: absolute;
    top: 1025px;
    left: 765px;
}

/* --------- section intro end -------- */

/* --------- section red start --------- */
.red {
    background-image: url(/img/red-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 1080px;
}


.red__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red__title {
    padding-top: 170px;
    padding-bottom: 24px;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: white;
    text-align: center;
}
.red__suptitle {
    margin-bottom: 130px;
    max-width: 960px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: white;
    text-align: center;
    
}
.red__grape-blocks {
    display: flex;
    justify-content: center;
}
.red__grape-block {
    padding-right: 156px;
}

.red__grape-block:last-child {
    padding-right: 0;
}

.red__img {
    margin-bottom: 40px;
}


.red__btn {
    position: absolute;
    top: 910px;
    left: 650px;
    padding: 16px 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: black;
    background-color: white;
    transition: .4s;
}

.red__btn:hover {
    background-color: red;
}
/* -------- section red finish --------- */

/* ------ Block Photos start --------
 */
.container2 {
    max-width: 1458px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.photos {
    position: relative;
    padding-top: 150px;
    padding-bottom: 350px;
    background-color: rgb(239, 235, 235);

}
.photos__blocks {
    display: flex;
}
.photos__block {
    width: 850px;
    display: flex;
    flex-direction: column;
}

.photos__block:last-child {
    padding-right: 0;
}

.photos__image {
    padding-right: 30px;
}
.photos__img {
    margin-bottom: 300px;
}
.photos__comment {
    max-width: 528px;
    border: 1px solid #561010;
    align-self: flex-end;
}
.photos__title {
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #561010;
}
.photos__text {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #a12727;
}
.photos__stars {
    padding-left: 24px;
    padding-bottom: 24px;
}

.photos__btn {
    position: absolute;
    top: 1762px;
    left: 1320px;
    padding: 16px 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    background-color:#561010;
    color: white;
    transition: .4s;
}

.photos__btn:hover {
    background-color:red;
}
/* ----------- */

.photos__comment-right {
    margin-bottom: 329px;
    max-width: 528px;
    border: 1px solid #561010;
}

.photos__block-right {
    padding-left: 60px;
}

.lowerred {
    background-color:#561010;
}
.container2 {
}
.text2 {
    padding-top: 172px;
    padding-left: 220px;
    padding-bottom: 172px;
    font-weight: 500;
    font-size: 64px;
    line-height: 150%;
    text-align: center;
    color: white;
}
/* ------------- Block Photos finish ---------------- */
/* ----------footer start--------- */
.footer__wrapper {
    height: 400px;
}
.container {
}
.footer__title {
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #561010;
}
.footer__logos {
    text-align: center;
    padding-bottom: 40px;
}
.footer__logo-item {
    padding-right: 56px;
}

.footer__logo-item:last-child {
    padding-right: 0;
}

.footer__copy {
    text-align: center;
}

.footer__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #561010;
}








